*{
  margin: 0;
  padding: 0 ;
}
.header{
  margin-left: 80px;
 display: flex;
  //align-items: center;
  //justify-content: center;
&__search{
  display: flex;
  padding-right: 200px;
}
  &__icons{
    display: flex;
    align-items: center;
  }
  &__name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 369px;
  }
&__input{
}
  &__icons1{
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  &__icons2{
    width: 25px ;
    height: 25px;
    margin-right: 14px;
  }
  &__tittle{
    text-align: center;
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    margin-left: 141px;

  }

  &__languages{

  }
  &__lang{
    font-size: 27px;
    font-weight: 300;
    line-height: 17px;
    text-transform: capitalize;

  }

}
.header__search_img{
  width: 50px;
  height: 50px;
  margin-top: 27px;
}
.header-menu__link{
  //display: flex;
  //font-weight: 500;
  height: 48px;
  padding: 12px 12px 5px 0;
  text-transform: uppercase;
  color: #202020;
  text-decoration: none;
  transition: all .5s;
  border-bottom: 0.5px solid transparent;
  margin-right: 181px;
}
.header-menu__link:hover{
  border-bottom: 2px solid #332525;
}
.header__menu-section-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: -53px;

}

.btn-color{
  color: #202020;
}

.king__accent{
font-size: 36px;
display: flex;
  font-weight: 700;
  color: #fefefe;
  margin: 87px;

}
.list__image1{
width: 100%;height: 100%;
}
.list__image2{
  width: 100%;
  height: 100%
}

.main {

  &__imgs-tittle {
    font-family: 'Cinzel', sans-serif;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 60px;
    margin-top: 31px;
    text-shadow: 2px 2px 40px rgb(0 0 0 / 40%);
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__images {
    display: flex;
    width: 97%;
    margin-left: 18px;
  }

  &__photo {

    margin-left: -17px;
  }

  &__tittle-list-img {
    border: 2px solid snow;
    //height: 700px;
    position: relative;
  }

  &__tittle {
    //background-image: url("https://cdn.shopify.com/s/files/1/0431/1960/7967/files/1.jpg?v=1610907644");

    color: #fefefe;
    position: absolute;
    text-align: center;
    top: 356px;
    left: 49px;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
  }

  &__image-list {
    margin-right: 13px;
    display: flex;
    justify-content: center;
    line-height: 1.3;

    img {
      width: 91%;
      //width: 386px;
      height: 88%;
      //margin-left: 15px;
    }
  }

  &__tittle-list {
    margin-top: 48px;
    left: 40px;
    color: #fefefe;
    position: absolute;
    text-decoration: none;
    text-align: center;
    //left: 378px;
    //top: 1213px;
    font-size: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    //color: rgb(255, 255, 255);
  }

  &__tittle-list2 {
    margin: 56px 23px;
    color: #fefefe;
    position: absolute;
    text-decoration: none;
    //text-align: center;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  &__tittle-list3 {
    margin: 54px 279px 12px 0;

    color: #fefefe;
    position: absolute;
    text-decoration: none;
    //text-align: center;
    font-size: 38px;
    font-family: 'Source Sans Pro', sans-serif;
  }


  &__image2 {
    display: flex;
  }

  &__image3 {
    display: flex;
  }

  &__photo-sub {
    padding: 40px;
    width: 100%;
    height: 500px;

    img {
      width: 500px;
      height: 700px;
    }
  }

  &__column-img1 {
    margin-top: 16px;
  }

  &__image-list2 {
    margin-top: 37px;
    width: 98%;

  }

  //&__imgs{
  //  position: absolute;
  //  height: 93%;
  //
  //}

  .main__image-list img {
    width: 100%;
    height: 80%;
  }
}

.main__image-list2{
  display: flex;
  margin-top: 37px;
  padding: 20px ;

}
.main-imgs1{
  width: 100%;
  border: 2px solid snow;

}

.featurerow{
  display: flex;
  margin-top: 23px;

  &__list{
    margin-left: 20px;
    img {
      width: 507px;
      height: 436px;
    }
  }
  &__block{
    margin: 90px 56px;
  }
  &__block-title{
    text-decoration: none;
    font-family: Cinzel,sans-serif;
    font-size: 40px;
    color: #3a3a3a;
  }
  &__block-description{
    color: #333232;
    line-height: 1.5;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
  }
  &__block-description-link{
  text-decoration: none;
    color: cornflowerblue;

  }
}

.footer{
  width: 100%;
  height: 50%;
  background-color: #f5f5f5;
  border-radius: 2px;
  &__container{}
  &__menu{
    display: flex;
  }
  &__social-links{
display: flex;
    justify-content: right;
  }
  &__menu-list{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 75px;
  }
  &__menu-list2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 100px;
    padding-left: 125px;

  }
  &__menu-list-tittle{
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 16px;


  }
  &__visalogo{
    width: 50px;
    margin-top: 23px;

  }
  &__menu-item{}
  &__menu-link{
    text-transform: uppercase;
    color: black;
    //font-family: 'Poppins',sans-serif;
    font-size: 17px;
    text-decoration: none;
    transition: all .5s;
    border-bottom: 0.5px solid transparent;
  }
  &__menu-link:hover{
    border-bottom: 2px solid #FFDAB9;
  }
.footer-menu-link{

}
  &__icons{
    width: 29px;
    height: 29px;
    margin-right: 15px;
  }

}
.instagram{
  &__list-imgs{
    width: 365px;
    height: 365px;
    margin: 3px;
  }
  &__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    img{
      width: 35px;
      height: 35px;
      margin-right: 2px;
    }

  }
  &__tittle-name{
    font-size: 28px;
    font-family: 'Source Sans Pro',sans-serif;
    margin: 5px 10px 15px 0;
    text-transform: uppercase;
  }
  &__block2{
    display: flex;
    margin-left: 19px;

  }


  &__icons{
    width: 20px;
    position: absolute;
    margin: 4px 5px;

  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      height: 20px;
      background: none;
      border-radius: 3px;
      color: #202020;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.1;
      margin: 0;
      min-width: 100px;
      outline: none;
      overflow: visible;
      padding: 20px 25px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
    }

  }

  }



@media  (max-width: 415px) and (min-width: 1024px){
  .header{

    &__icons{

    }
  }
  .main{
    &__photo-sub{
      height: 210px;
      width: 485px;
    }
    &__tittle{
      left: 30px;
      font-size: 28px;
      top: 190px;
    }
    &__imgs-tittle{
      font-size: 15px;
      font-weight: bold;
      left: 27px;
      margin-top: 20px
    }

  }
  .instagram{
    margin-bottom: 23px;
    &__list-imgs{
      width: 93px;
      height: 116px;
      margin: 3px;
    }


    &__tittle{
      img{
        width: 25px;
        height: 25px;
      }
    }
    &__tittle-name{
      font-size: 20px;
      font-family: 'Source Sans Pro',sans-serif;
      margin-top: 8px;
    }
  }
  .featurerow{
    &__block-title{
      font-size: 13px;
    }
    &__block-description{
      font-size: 10px;
    }
    &__list img{
      width: 193px;
      height: 200px;
    }
  }
}


@media  (max-width: 414px) {
  .header{

    &__icons{

    }
  }
  .main{
  }
  .main-imgs{
    width: 116%;
    height: 95%;
  }
}
